<script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/openseadragon.min.js" integrity="sha512-qvQYH6mPuE46uFcWLI8BdGaJpB5taX4lltbSIw5GF4iODh2xIgyz5ii1WpuzPFUknHCps0mi4mFGR44bjdZlZg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id="osd-viewer"></div>

<div id="osd-toolbar">
    <div id="osd-toolbar-inner">
        <div class="zoom-nav">
            <button id="btn-zoom-in" type="button" class="btn btn-primary" title="Zoom in">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path></svg>
            </button>
            <button id="btn-zoom-out" type="button" class="btn btn-primary" title="Zoom out">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M4.5 12.75a.75.75 0 01.75-.75h13.5a.75.75 0 010 1.5H5.25a.75.75 0 01-.75-.75z"></path></svg>
            </button>
            <button id="btn-full-page" type="button" class="btn btn-primary" title="Go home">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12.97 2.59a1.5 1.5 0 00-1.94 0l-7.5 6.363A1.5 1.5 0 003 10.097V19.5A1.5 1.5 0 004.5 21h4.75a.75.75 0 00.75-.75V14h4v6.25c0 .414.336.75.75.75h4.75a1.5 1.5 0 001.5-1.5v-9.403a1.5 1.5 0 00-.53-1.144l-7.5-6.363z"></path></svg>
            </button>

            <button id="btn-fullscreen" type="button" class="btn btn-primary" title="Toggle fullscreen">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M4.75 4.5a.25.25 0 00-.25.25v3.5a.75.75 0 01-1.5 0v-3.5C3 3.784 3.784 3 4.75 3h3.5a.75.75 0 010 1.5h-3.5zM15 3.75a.75.75 0 01.75-.75h3.5c.966 0 1.75.784 1.75 1.75v3.5a.75.75 0 01-1.5 0v-3.5a.25.25 0 00-.25-.25h-3.5a.75.75 0 01-.75-.75zM3.75 15a.75.75 0 01.75.75v3.5c0 .138.112.25.25.25h3.5a.75.75 0 010 1.5h-3.5A1.75 1.75 0 013 19.25v-3.5a.75.75 0 01.75-.75zm16.5 0a.75.75 0 01.75.75v3.5A1.75 1.75 0 0119.25 21h-3.5a.75.75 0 010-1.5h3.5a.25.25 0 00.25-.25v-3.5a.75.75 0 01.75-.75z"></path></svg>
            </button>
        </div>

    </div>
</div>

<script type="text/javascript">

    var viewer = OpenSeadragon({
        id: "osd-viewer",
        toolbar: "osd-toolbar",
        controlsFadeDelay: 0,
        controlsFadeLength: 1000,

        preserveViewport: true,
        // blendTime:0.2,
        // alwaysBlend:true,
        // compositeOperation: 'source-over',
        smoothTileEdgesMinZoom: Infinity,
        // maxZoomPixelRatio: Infinity,
        tileSources: ["{{ .Params.openseadragon.url }}"],
        // previousButton: "btn-prev",
        // nextButton: "btn-next",
        // rotateLeftButton: "btn-rotate-l",
        // rotateRightButton: "btn-rotate-r",
        zoomInButton: "btn-zoom-in",
        zoomOutButton: "btn-zoom-out",
        homeButton: "btn-full-page",
        fullPageButton: "btn-fullscreen"
    });

    viewer.addControl("osd-toolbar", {anchor: OpenSeadragon.ControlAnchor.NONE});
    viewer.viewport.toggleFlip = () => {
        console.log("asserting dominance over osd");
    };
    function focusOSD(){document.querySelector('.openseadragon-canvas').focus();}
    document.addEventListener('keydown', (e) => {
        switch (e.keyCode){
            case 9: // TAB
                console.log("enabling debug mode");
                viewer.debugMode = !viewer.debugMode;
                viewer.close();
                viewer.open(viewer.tileSources[0]);
                focusOSD();
                e.preventDefault();
            break;
            case 70: //f
                viewer.setFullScreen(!viewer.isFullPage());
                focusOSD();
                e.preventDefault();
            break;
            case 34: //pgdown
                viewer.viewport.zoomBy(0.9);
                viewer.viewport.applyConstraints();
                e.preventDefault();
            break;  
            case 33: // pgup
                viewer.viewport.zoomBy(1.1);
                viewer.viewport.applyConstraints();
                e.preventDefault();
                break;
            break
            case 36: // home
                viewer.viewport.goHome();
                viewer.viewport.applyConstraints();
                e.preventDefault();
            break
            
        }
    });
    focusOSD();    
</script>